.movie-details {
    position: relative;
    color: white;
}

.movie-details .badge {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
}

.movie-details h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.movie-details .btn {
    padding: 0.8rem 2rem;
    font-weight: 500;
}

.movie-details .card {
    transition: transform 0.3s ease;
}

.movie-details .card:hover {
    transform: scale(1.02);
}

.movie-details .card-img-top {
    transition: transform 0.3s ease;
}

.movie-details .card-img-top:hover {
    transform: scale(1.02);
}
.vip-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: gold;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 10;
}

@media (max-width: 768px) {
    .movie-details .card-img-top {
        height: 400px !important; /* Giảm chiều cao trên mobile */
    }
} 